.property .image-gallery {
    margin-top: 20px;
  }
  
  .property .gallery-item {
    display: inline-block;
    margin: 10px;
  }
  
  .property .gallery-item img {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #fff;
  }
  .btn-color{
    background-color: #fa325b;
    font-size: 25px;
    color:#fff !important;
  }
  .numogguest{
    padding-top: 10px;
    font-size: 20px !important;
  }
  .btn-gray {
    background-color: #d3d3d3; /* Light gray background */
    color: #808080; /* Gray text */
    cursor: not-allowed; /* Indicate not-allowed cursor */
    border: 1px solid #d3d3d3; /* Match border color to background */
  }
  
  .date-input {
    position: relative;
    width: 100%;
  }
  
  .date-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .date-input:focus + .date-icon {
    display: none;
  }
  