.confirmation-dialog {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .button-container {
    text-align: right;
    margin-top: 10px;
  }
  
  .button-container button {
    margin-left: 10px;
    padding: 8px 16px;
    cursor: pointer;
  }
  .confirmation-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 25%;
    height: 150px;
  }
  
  .button-container {
    text-align: right;
    margin-top: 10px;
  }
  
  .button-container button {
    margin-left: 10px;
    padding: 8px 16px;
    cursor: pointer;
  }
  