<section>
  <div class="cartona">
    <div class="box" *ngFor="let item of allBooking">
      <div class="img">
        <img [src]="item.propImage" alt="" />
      </div>
      <div class="content">
        <strong
          [ngClass]="{confirmed: item.bookingStatus == 2, pending: item.bookingStatus == 0,cancel: item.bookingStatus == 3,Payment: item.bookingStatus == 1, }"
          >{{
            item.bookingStatus == 2
              ? "Confirmed"
              : item.bookingStatus == 3
              ? "Canceled"
              : item.bookingStatus == 1
              ? "WaitForPayment"
              : "Pending"
          }}</strong
        >
        <h2>{{ item.propTitle }}</h2>
        <p>Total Price: {{ item.totalPrice }}</p>
        <div class="date">
          <span
            >Form:
            {{ item.checkInDate.slice(0, item.checkInDate.indexOf("T")) }}</span
          >
          <br />
          <span
            >To:
            {{
              item.checkOutDate.slice(0, item.checkInDate.indexOf("T"))
            }}</span
          >
        </div>
        <div class="btns">
          <button [routerLink]="['/PropDetails', item.id]">
            <i class="fa-solid fa-eye"></i>
          </button>
          <button
            (click)="pay(item.totalPrice, item.id)"
            *ngIf="item.bookingStatus == 1"
            class="payment"
          >
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
