<!-- <section>
  <div class="cartona">
    <div class="box" *ngFor="let item of allBooking">
      <div class="img">
        <img [src]="item.propImage" alt="" />
      </div>
      <div class="content">
        <strong
          [ngClass]="{confirmed: item.bookingStatus == 1, pending: item.bookingStatus == 0, }"
          >{{ item.bookingStatus == 1 ? "Confirmed" : "Pending" }}</strong
        >
        <h2>{{ item.propTitle }}</h2>
        <p>Total Price: {{ item.totalPrice }}</p>
        <div class="date">
          <span
            >Form:
            {{ item.checkInDate.slice(0, item.checkInDate.indexOf("T")) }}</span
          >
          <br />
          <span
            >To:
            {{
              item.checkOutDate.slice(0, item.checkInDate.indexOf("T"))
            }}</span
          >
        </div>
        <div class="btns">
          <button><i class="fa-solid fa-eye"></i></button>
          <button *ngIf="item.bookingStatus == 1" class="payment">
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section> -->

<div class="container my-trips-container">
  <div class="title text-center mb-4">MY TRIPS</div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th (click)="sortData('propertyName')">Property Name</th>
          <th (click)="sortData('hostName')">Host Name</th>
          <th (click)="sortData('checkInDate')">Check In Date</th>
          <th (click)="sortData('checkOutDate')">Check Out Date</th>
          <th (click)="sortData('totalPrice')">Total Price</th>
          <th (click)="sortData('status')">Booking Status</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of allBooking | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>
            <i class="fas fa-building icon-green"></i> {{ row.propTitle }}
          </td>
          <td>
            <i class="fas fa-user-circle icon-blue"></i> {{ row.id }}
          </td>
          <td>
            <i class="far fa-calendar-alt icon-checkin"></i> {{ row.checkInDate | date : "dd-MM-yyyy" }}
          </td>
          <td>
            <i class="far fa-calendar-check icon-checkout"></i> {{ row.checkOutDate | date : "dd-MM-yyyy" }}
          </td>
          <td>
            <i class="fa-solid fa-sack-dollar fs-5 icon-price" style="color: #006110"></i> {{ row.totalPrice }}
          </td>
          <td [style.color]="row.bookingStatus ? 'green' : 'red'">
            <i [class]="row.bookingStatus ? 'fas fa-check-circle' : 'fas fa-times-circle'"></i> 
            {{ row.bookingStatus ? "Available" : "Not Available" }}
          </td>
         
        </tr>
      </tbody>
    </table>

    <pagination-controls class="d-flex justify-content-center pag" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

