<div class="container error-container " style="width: fit-content;">
  <div class="row">
      <div style="text-align: left;" class="col-md-6 content-container d-flex flex-column" >
          <h1 id="opps">Oops!</h1>
          <h2>We can't seem to find the page you're looking for.</h2>
          <p>Error code: 404</p>
          <p>Here are some helpful links instead:</p>
          <ul class="list-unstyled">
              <li><a routerLink="/Home">Home</a></li>
              <li><a href="#">Search</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Traveling on Airbnb</a></li>
              <li><a href="#">Hosting on Airbnb</a></li>
              <li><a href="#">Trust & Safety</a></li>
              <li><a href="#">Sitemap</a></li>
          </ul>
      </div>
      <div class="col-lg-6 d-flex justify-content-center  align-items-center">
        <img src="../../../../assets/404-Airbnb.gif" alt="Error Image" class="error-image">
      </div>
    </div>
    <br>
</div>
