/* ************STRT HEADER *********** */
header {
  width: 100%;
  min-height: 80vh;
  position: relative;
  background-image: linear-gradient(
      rgba(32, 35, 53, 0.7),
      rgba(16, 19, 36, 0.7)
    ),
    url(../../../assets/Montage-Beverly-Hills.jpg);
  background-position: center;
  background-size: cover;
}

header .text {
  position: absolute;
  width: 70%;
  box-shadow: 0 0 15px 0 black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 15px 25px;
}

header .text h1 {
  margin: 16px 0;

  font-size: 62px;
  font-weight: 500;
}
header .text p {
  font-weight: 300;
  margin: 16px;
}

header .text a {
  text-decoration: none;
  color: white;
  padding: 15px 25px;
  border: 1px solid white;
  display: inline-block;
  margin: 16px 0;
  transition-duration: 0.5s;
}
header .text a:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.spans {
  display: flex;
  flex-flow: column;
  width: 25px;
  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 10;
  cursor: pointer;
  visibility: hidden;
}
nav span {
  width: 100%;
  height: 3px;
  background-color: white;
  margin-top: 5px;
}
@media (max-width: 992px) {
  nav .links ul li {
    display: block;
  }
  nav .links {
    position: absolute;
    width: 200px;

    top: 14px;
    right: 54px;
    max-height: 0;
    overflow: hidden;
    z-index: 3;
    background-color: var(--main-color);
  }
  .links ul li a {
    display: block;
  }
  .spans {
    visibility: visible;
  }
  header .text {
    width: 95%;
    padding: 10px;
  }
  header .text h1 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  header .text h1 {
    font-size: 26px;
    font-weight: 600;
  }
}
/* ************END HEADER *********** */

/* ----------------------------------- start  bolg--------------------- */
.blog .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  gap: 1em;
}
.blog .container .content .box {
  flex-basis: calc((100% - 3em) / 3);
  border: 1px solid black;
}
.blog .container .content .box .img {
  overflow: hidden;
}
.blog .container .content .box .img img {
  transition: 0.4s;
  width: 100%;
}
.blog .container .content .box .text {
  padding: 1em;
}

.blog .container .content .box .text .one h3 {
  color: #000814;
  font-weight: 600;
  font-size: 24px;
}
.blog .container .content .box .text .one p {
  margin: 1em 0;
  color: var(--text-color);
  max-height: 50px;
  overflow: auto;
}
.blog .container .content .box .text .one .btn {
  padding: 1rem 0;
}
.blog .container .content .box .text .one .read-more {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.blog .container .content .box .text .two {
  padding: 1em 0 0 0;
  border-top: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog .container .content .box .text .two i {
  margin-right: 0.2em;
  color: var(--main-color);
}
.blog .container .content .box:hover .img img {
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .blog .container .content {
    flex-flow: column;
  }
}
@media (max-width: 768px) {
  .blog .container .content {
    flex-flow: column;
  }
}
/* ----------------------------------- end bolg--------------------- */
/*========== APP ==========*/
.app {
  background-color: #eee;
}
.app .cartona {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.app .app__data {
  width: 50%;
}
.app .app__data img {
  width: 100px;
}
.app .img {
  text-align: center;
  width: 50%;
}
.app .img img {
  vertical-align: middle;
}

@media (max-width: 992px) {
  .app .cartona {
    flex-flow: column;
  }
  .app .app__data {
    width: 100%;
  }
  .app .img {
    text-align: center;
    width: 100%;
  }
}
/* Banner */
.banner {
  text-align: center;
  background-image: linear-gradient(
      rgba(16, 19, 36, 0.742),
      rgba(16, 19, 36, 0.7)
    ),
    url("../../../assets/banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  color: white;
}

.banner h4 {
  margin-bottom: 1em;
}
.banner h2 {
  margin-bottom: 16px;
  font-size: 2.5em;
}
.banner h2 span {
  color: rgb(255, 0, 0);
}
.banner .normal {
  color: black(255, 0, 0);
  padding: 12px;
}
/* Banner --------------------------------------------------------------------------------------------------------- */

/* Banner Two --------------------------------------------------------------------------------------------------------- */

.banner2 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  gap: 1rem;
}
.banner2 .container .box,
.banner2 .container .box2 {
  min-width: calc((100% - 16px) / 2);
  height: 40vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  padding: 32px;
  background-size: cover;
  background-position: center;
  color: white;
}
.banner2 .container .box2 {
  min-width: calc((100% - 32px) / 3);
}
.banner2 .container .box:nth-child(1) {
  background-image: url("../../../assets/a1.webp");
}
.banner2 .container .box:nth-child(2) {
  background-image: url("../../../assets/a2.webp");
}
.banner2 .container .box:nth-child(3) {
  background-image: url("../../../assets/a3.webp");
}
.banner2 .container .box:nth-child(4) {
  background-image: url("../../../assets/a4.jpeg");
}

.banner2 .container .box:nth-child(5) {
  background-image: url("../../../assets/a5.webp");
}

.banner2 .container .box h4 {
  font-size: 20px;
  font-weight: normal;
}
.banner2 .container .box h2 {
  font-size: 34px;
}

.banner2 .container .box button {
  margin-top: 16px;
  border-radius: 0;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 6px;
}
.banner2 .container .box button:hover {
  background-color: var(--main-color);
}
@media (max-width: 992px) {
  .banner2 .responsive {
    flex-flow: column;
    width: 100% !important;
  }

  .banner2 .container .box {
    width: 100%;
  }
}
