<div class="cartona">
  <div class="navigator">
    <ul>
      <li
        routerLink="updateProperty"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Properties
      </li>
      <li
        routerLink="propImage"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Property Images
      </li>
      <li
        routerLink="amentity"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Amentities
      </li>
      <li
        routerLink="appoinmentAvailable"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Appoinment Availble
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet> </router-outlet>
  </div>
</div>
