.property-form {
  width: 80%;
  padding: 2rem;
  border-radius: 4px;
  border: 2px solid #2b34991a;
  box-shadow: 0 0 20px -3px rgba(98, 98, 98, 0.164);
  margin: 0 auto;
  background-color: var(--secound-color);
}
.property-form .form-group {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.property-form .form-group input,
textarea,
select {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: none;
}
.property-form .form-group button {
  padding: 0.6rem 1.2rem;
  margin: 0 auto;
}
.property-form .form-group:last-of-type {
  margin-bottom: 0;
}

.cartona .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  width: 70%;
  padding: 1rem;
  border-bottom: 2px solid var(--secound-color);
}
.cartona .box .img {
  width: 80px;
}
.cartona .box ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 1rem;

  width: 100%;
}
.cartona .box ul li button {
  padding: 0.6rem 1.2rem;
}
.cartona ul li button.delete {
  background-color: red;
  color: white;
}
.cartona ul li button.update {
  background-color: green;
  color: white;
}
@media (max-width: 992px) {
  .cartona {
    width: 100%;
    padding: 1rem;
  }
  .property-form {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .cartona {
    width: 100%;
    padding: 1rem;
  }
  .property-form {
    width: 85%;
  }
}
@media (max-width: 500px) {
  .cartona {
    width: 100%;

    padding: 2rem 0.2rem;
  }
  .property-form {
    width: 100%;
  }
}
