<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="sidenav-header">
        <img width="100" height="100" src="C:\Users\Dell\Desktop\project last update\airbnb-Front-End\src\assets\Airbnb-logo-2048x1152.png" alt="">
        <div class="header-text">
            <h2>dashboared</h2>
            <p>ahmed</p>
        </div>
    </div>
    <mat-nav-list>
        <a mat-list-item >
            <mat-icon matListItemIcon>dashboared</mat-icon>
            <span matListItemTitle>users</span>
        </a>
        <a mat-list-item >
            <mat-icon matListItemIcon>dashboared</mat-icon>
            <span matListItemTitle>users</span>
        </a>
        <a mat-list-item >
            <mat-icon matListItemIcon>dashboared</mat-icon>
            <span matListItemTitle>users</span>
        </a>
    </mat-nav-list>
</body>


