<section class="cartona" *ngIf="bookingDetails && bookingDetails.length > 0">
  <div class="booking-card" *ngFor="let bookingDetailsitem of bookingDetails">
    <div class="user-info">
      <img
        [src]="bookingDetailsitem.userImage"
        alt="User Image"
        class="user-image"
      />
      <div class="user-details">
        <h2>{{ bookingDetailsitem.userName }}</h2>
        <p>Phone: {{ bookingDetailsitem.userPhone }}</p>
      </div>
    </div>
    <div class="booking-info">
      <h3>Property: {{ bookingDetailsitem.propertyName }}</h3>
      <p>
        Check-in Date:
        {{
          bookingDetailsitem.checkInDate.slice(
            0,
            bookingDetailsitem.checkInDate.indexOf("T")
          )
        }}
      </p>
      <p>
        Check-out Date:
        {{
          bookingDetailsitem.checkOutDate.slice(
            0,
            bookingDetailsitem.checkOutDate.indexOf("T")
          )
        }}
      </p>
      <p>Total Price: {{ bookingDetailsitem.totalPrice }}</p>
    </div>
    <div class="btns" *ngIf="bookingDetailsitem.status == 0">
      <button
        (click)="UpdateBooking('waitForPayment', bookingDetailsitem.id)"
        class="waitForPayment"
      >
        Aprove To Payment
      </button>
      <button
        (click)="UpdateBooking('cancel', bookingDetailsitem.id)"
        class="cancel"
      >
        Cancel
      </button>
    </div>
    <div class="btns" *ngIf="bookingDetailsitem.status == 1">
      <button disabled class="waitForPayment">Wating For Payment</button>
    </div>
    <div class="btns" *ngIf="bookingDetailsitem.status == 2">
      <button disabled class="confirm">Confirmed</button>
    </div>
    <div class="btns" *ngIf="bookingDetailsitem.status == 3">
      <button disabled class="cancel">Canceled</button>
    </div>
  </div>
</section>
<section *ngIf="bookingDetails && bookingDetails.length == 0">
  <h1>No Booking</h1>
</section>
