<div class="cartona">
  <h2 style="text-align: center; margin-bottom: 1rem">
    {{ propertyStatus }} Property
  </h2>
  <form
    [formGroup]="AddNewPropertyForm"
    (ngSubmit)="OnSubmit()"
    class="property-form"
  >
    <div class="form-group">
      <input formControlName="name" placeholder="Name" />
      <input formControlName="description" placeholder="Description" />
    </div>
    <div class="form-group">
      <input formControlName="adress" placeholder="Address" /><input
        formControlName="numberOfBedrooms"
        placeholder="Number of Bedrooms"
      />
    </div>
    <div class="form-group">
      <input
        formControlName="numberOfBathrooms"
        placeholder="Number of Bathrooms"
      />
      <input formControlName="beds" placeholder="Number Of Beds" />
    </div>
    <div class="form-group"></div>
    <div class="form-group">
      <!-- //<input formControlName="cityId" placeholder="City ID" /> -->
      <select formControlName="cityId">
        <option disabled selected>Select City</option>
        <option *ngFor="let city of allCeties" [value]="city.id">
          {{ city.name }}
        </option>
      </select>
      <select formControlName="categoryId">
        <option disabled selected>Select Category</option>
        <option *ngFor="let cate of allCate" [value]="cate.id">
          {{ cate.name }}
        </option>
      </select>
      <!-- <input formControlName="categoryId" placeholder="Category ID" /> -->
    </div>
    <div class="form-group">
      <input type="time" formControlName="checkOut" placeholder="Check-Out" />
      <input type="time" formControlName="checkIn" placeholder="Check-In" />
    </div>
    <div class="form-group">
      <input formControlName="numberOfGuest" placeholder="Number of Guests" />
    </div>
    <div class="form-group">
      <select formControlName="pets" placeholder="Pets">
        <option value="1">Allow</option>
        <option value="0">Not Allow</option>
      </select>
    </div>
    <div class="form-group">
      <select formControlName="takePhotos">
        <option value="1">Allow</option>
        <option value="0">Not Allow</option>
      </select>
    </div>
    <div class="form-group">
      <input type="file" (change)="onFileSelected($event)" />
    </div>
    <div class="form-group">
      <button type="submit">{{ propertyStatus }}</button>
    </div>
  </form>
</div>

<!--  -->
<section>
  <div class="cartona">
    <div class="boxContainer">
      <div class="box" *ngFor="let item of hosterProperties">
        <div class="img">
          <img [src]="item.displayedImage" [alt]="item.name" />
        </div>
        <ul>
          <li>{{ item.id }}</li>
          <li>{{ item.name }}</li>
          <li>{{ item.description }}</li>
          <li>
            <button class="update" (click)="SelectProperty(item.id)">
              Update
            </button>
          </li>
          <li>
            <button class="delete" (click)="DeletePropertyByHoster(item.id)">
              Delete
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
